.ant-picker-calendar-mode-switch {
    display: none !important;
}
.ant-descriptions-item-label {
    font-weight: 600 !important;
    background-color: unset !important;
}
.ant-descriptions-item-content {
    background-color: #fafafa;
}